body {
	padding-top: 56px;
	padding-bottom: 10px;
}

#img-link {
	border: none;
	box-shadow: none;
	outline: none;
	width: 360px;
}

.label-dropdown-selection {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	color: #999;
}

.slider.addon-slider {
	width: 240px;
	padding-left: 10px;
	padding-right: 12px;
}

input[data-slider] {
	margin-bottom: 0;
}

.meme-list-wrapper {
	position: relative;
}
.meme-list-container {
	position: absolute;
	padding: 1em 0;
	border: 1px solid #000;
	border-top: none;
	background-color: #F9F9F9;
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 100;
}
.image-container {
	position: relative;
	min-height: 360px;
}
.image-container > img {
	position: absolute;
	top: 116px;
	left: 176px;
}

.brand > span {
	color: green;
	font-size:x-small;
	vertical-align:bottom;
}
