<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="{{ 'http://' if STAGE == 'devel' else '//' }}netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    {% block css %}{% endblock %}

    <meta name="author" content="Robert Lemon - rob.lemon@gmail.com"/>
    <meta name="copyright" content="Robert Lemon 2012"/>
    <title>Memecap - Online Meme Generator</title>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="./index.html" class="brand" title="Memecap - Online Meme Generator">Memecap</a>
            {% block navbar %}{% endblock %}
          </div>
        </div>
      </div>
      <div class="container">
        {% block content %}{% endblock %}
      </div>
      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <hr class="muted">
        <span class="footer-text muted">made with love by @kuyan, <a href="https://github.com/kuyan/memecap/graphs/contributors">et al.</a></span>
        <ul class="footer-links pull-right">
          <li><a href="./legal.html" title="Legal mumbo jumbo">Legal</a></li>
          <li class="muted">•</li>
          <li><a href="https://github.com/kuyan/memecap">Github</a></li>
        </ul>
      </div>
    </div>

    <script src="{{ 'http://' if STAGE == 'devel' else '//' }}ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ 'http://' if STAGE == 'devel' else '//' }}netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    {% block js %}{% endblock js %}
  </body>
</html>
