<select id="meme-list-container">
   <optgroup label="Toons">
        <option data-img="toons/philosoraptor.jpg">Philosoraptor</option>
        <option data-img="toons/me_gusta.jpg">Me Gusta</option>
        <option data-img="toons/all_of_the_things.jpg">All Of The Things</option>
        <option data-img="toons/rage_fu.jpg">Rage Fu</option>
        <option data-img="toons/rainbow_star_pony.jpg">Rainbow Star Pony</option>
        <option data-img="toons/socially_awkward_penguin.jpg">Socially Awkward Penguin</option>
        <option data-img="toons/yuno_guy.jpg">Yuno Guy</option>
        <option data-img="toons/not_sure_if.jpg" selected>Not Sure If</option>
        <option data-img="toons/whyyyyy.jpg">Whyyyyy</option>
        <option data-img="toons/my_little_pony_1.jpg">My Little Pony 1</option>
        <option data-img="toons/okay.jpg">Okay</option>
        <option data-img="toons/trollface.jpg">Trollface</option>
        <option data-img="toons/i_hate.jpg">I Hate</option>
        <option data-img="toons/great_scott.jpg">Great Scott</option>
        <option data-img="toons/forever_alone.jpg">Forever Alone</option>
        <option data-img="toons/pedo_bear.jpg">Pedo Bear</option>
   </optgroup>
   <optgroup label="People">
        <option data-img="people/rlemon_smash.jpg">Rlemon Smash</option>
        <option data-img="people/condescending_wonka.jpg">Condescending Wonka</option>
        <option data-img="people/ridiculously_photogenic_guy.jpg">Ridiculously Photogenic Guy</option>
        <option data-img="people/when_i_was_a_kid.jpg">When I Was A Kid</option>
        <option data-img="people/baby_godfather.jpg">Baby Godfather</option>
        <option data-img="people/fuck_you_linus.jpg">Fuck You Linus</option>
        <option data-img="people/not_bad_obamas.jpg">Not Bad Obamas</option>
        <option data-img="people/geek_reader.jpg">Geek Reader</option>
        <option data-img="people/first_world_problems.jpg">First World Problems</option>
        <option data-img="people/rick_rolled.jpg">Rick Rolled</option>
        <option data-img="people/skeptical_third_world_child.jpg">Skeptical 3rd World Child</option>
        <option data-img="people/bitch_please_colour.jpg">Bitch Please Colour</option>
        <option data-img="people/power_ranger_girls.jpg">Power Ranger Girls</option>
        <option data-img="people/you_dont_say.jpg">You Dont Say</option>
        <option data-img="people/helicopter_kid.jpg">Helicopter Kid</option>
        <option data-img="people/yo_dawg.jpg">Yo Daw</option>
        <option data-img="people/loktarian.jpg">Loktarian</option>
        <option data-img="people/one_does_not_simply.jpg">One Does Not Simply</option>
        <option data-img="people/too_tanned_guy.jpg">Too Tanned Guy</option>
        <option data-img="people/scumbag_steve.jpg">Scumbag Steve</option>
        <option data-img="people/pissed_off_nun.jpg">Pissed Off Nun</option>
        <option data-img="people/spirit_fingers.jpg">Spirit Fingers</option>
        <option data-img="people/hipster_barista.jpg">Hipster Barista</option>
        <option data-img="people/good_guy_greg.jpg">Good Guy Greg</option>
        <option data-img="people/chuck_norris.jpg">Chuck Norris</option>
        <option data-img="people/bear_grylls.jpg">Bear Grylls</option>
        <option data-img="people/the_most_interesting_man_in_the_world.jpg">The Most Interesting Man In The World</option>
        <option data-img="people/success_kid.jpg">Success Kid</option>
        <option data-img="people/my_name_is_earl.jpg">My Name Is Earl</option>
   </optgroup>
        <optgroup label="Animals">
        <option data-img="animals/ice_creme_unicorn.jpg">Ice Creme Unicorn</option>
        <option data-img="animals/zion_go_seek.jpg">Zion Go Seek</option>
        <option data-img="animals/projectile_squirt.jpg">Projectile Squirt</option>
        <option data-img="animals/science_cat.jpg">Science Cat</option>
        <option data-img="animals/conversational_penguins.jpg">Conversational Penguins</option>
   </optgroup>
</select>