{% extends '_base.html' %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="css/spectrum.css">
  <link rel="stylesheet" type="text/css" href="{{ 'http://' if STAGE == 'devel' else '//' }}cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.css">
{% endblock css %}

{% block content %}
  <div class="row" id="alert-row"></div>
  <div class="row">
    <div class="span6">
      <div class="row image-container">
        <div id="loading-bar">
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
        <canvas id="cvs">
          You need a more up-to-date browser to use Memecap. <a href="http://browsehappy.com/">Upgrade your browser!</a>
        </canvas>
      </div>
      <div class="row">
        <div class="alert alert-block hidden-phone">
          <h4>Can't find your favorite meme?</h4>
          You can drag and drop an image anywhere on the page to use it!
        </div>
      </div>
    </div>

    <div class="span6">
      <form id="meme-settings" class="form-horizontal">
        <fieldset>
          <legend>Meme Settings</legend>
          <div class="control-group">
            <label class="control-label" for="meme-list-container">Meme</label>
            <div class="controls">
              {% include '_meme_list.html' %}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="text-top">Top Line</label>
            <div class="controls">
              <input type="text" class="input-block-level" id="text-top" placeholder="Top line"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="text-bottom">Bottom Line</label>
            <div class="controls">
              <input type="text" class="input-block-level" id="text-bottom" placeholder="Bottom line"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Text Color</label>
            <div class="controls">
              <input type="color" name="color1" value="#FFFFFF">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Outline Color</label>
            <div class="controls">
              <input type="color" name="color2" value="#000000">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="font-size">Font Size</label>
            <div class="controls">
              <div class="input-append">
                <input type="text" value="50" class="span1" id="font-size">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="outline-size">Outline Size</label>
            <div class="controls">
              <div class="input-append">
                <input type="text" value="2" class="span1" id="outline-size">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="padding-x">Padding X</label>
            <div class="controls">
              <div class="input-append">
                <input type="text" class="span1" id="padding-x" value="0">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="padding-y">Padding Y</label>
            <div class="controls">
              <div class="input-append">
                <input type="text" class="span1" id="padding-y" value="4">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>

          <br>
          <button type="submit" class="btn btn-large btn-block btn-primary" id="generate" title="Generate meme" data-loading-text="Uploading...">Upload to imgur</button>
          <br>
          <a href="#" class="pull-right" title="RESET! ALL OF THE THINGS!" id="form-reset">Reset all</a>
        </fieldset>
      </form>
    </div>
  </div>

  {# Upload Successful modal #}
  <div class="modal hide fade" id="upload-success">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Upload successful!</h3>
    </div>

    <div class="modal-body">
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="img-directlink">Direct Link</label>
          <div class="controls">
            <input type="text" id="img-directlink">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="img-imgurlink">Link</label>
          <div class="controls">
            <input type="text" id="img-imgurlink">
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <div class="pull-left">
        <a href="#" class="btn btn-link" id="img-delete">Delete</a>
      </div>
      <div class="pull-right">
        <a href="#" data-dismiss="modal" class="btn btn-info" id="form-reset">Create another meme</a>
        <a href="#" class="btn btn-primary" id="img-submitreddit">Submit to Reddit</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ 'http://' if STAGE == 'devel' else '//' }}cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.js"></script>
  <script type="text/javascript" src="js/spectrum.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
{% endblock js %}
