{% extends '_base.html' %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="css/spectrum.css">
{% endblock css %}

{% block content %}
  <div class="row">
    <div class="span6">
      <div class="row image-container">
        <img src="images/285.gif" id="spinner-generate" style="vertical-align: middle" hidden/>
        <img src="images/291.gif" id="spinner-loading" style="vertical-align: middle"/>
        <canvas id="cvs">Get a real browser!<br/><a href="http://www.google.com/chrome">Google Chrome to the rescue!</a></canvas>
      </div>
      <div class="row">
        <input type="text" id="img-link" placeholder="Generated image url will appear here."/>
      </div>
      <div class="row">
        <div class="alert">
          <h4 class="alert-heading">
          Attention! </h4>
          <p>
            Drag and Drop images, one at a time, anywhere on the page for a custom meme image to work with!
          </p>
        </div>
      </div>
    </div>

    <div class="span6">
      <form class="nosubmit-form">
        <legend>Meme Settings</legend>
        <fieldset>
          {% include '_meme_list.html' %}
          <input type="text" class="input-block-level" id="text-top" placeholder="Top line"/>
          <input type="text" class="input-block-level" id="text-bottom" placeholder="Bottom line"/>

          <input type="color" name="color1" value="#FFFFFF">
          <input type="color" name="color2" value="#000000">

          <div class="control-group">
            <label class="control-label">Text Size</label>
            <div class="controls">
              <div class="input-prepend input-append">
                 &nbsp;&nbsp;
                <div class="add-on slider addon-slider" id="font-size-slider">
                </div>
                <input data-slider="#font-size-slider" data-max="60" data-min="10" data-step="1" value="20" class="span1" id="font-size">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Outline</label>
            <div class="controls">
              <div class="input-prepend input-append">
                 &nbsp;&nbsp;
                <div class="add-on slider addon-slider" id="outline-size-slider">
                </div>
                <input data-slider="#outline-size-slider" data-max="6" data-min="0" data-step="1" value="1" class="span1" id="outline-size">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Padding</label>
            <div class="controls">
              <div class="input-prepend input-append">
                 X
                <div class="add-on slider addon-slider" id="padding-x-slider">
                </div>
                <input data-slider="#padding-x-slider" data-max="128" data-min="0" data-step="1" value="0" class="span1" id="padding-x">
                <span class="add-on">px</span>
              </div>
            </div>
            <div class="controls">
              <div class="input-prepend input-append">
                 Y
                <div class="add-on slider addon-slider" id="padding-y-slider">
                </div>
                <input data-slider="#padding-y-slider" data-max="64" data-min="0" data-step="1" value="4" class="span1" id="padding-y">
                <span class="add-on">px</span>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-large btn-block btn-primary" id="generate" title="Generate LeMEME">Upload to imgur</button>
          <br>
          <button type="reset" class="btn btn-link pull-right" title="RESET! ALL OF THE THINGS!">Reset all</button>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="js/util.js"></script>
  <script type="text/javascript" src="js/fragBuilder.js"></script>
  <script type="text/javascript" src="js/spectrum.js"></script>
  <script type="text/javascript" src="js/notifier.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
{% endblock js %}
